.footer{
    height: 40vh;
    width: 100%;
    background-color: rgba(112, 19, 122, 0.93);
}
.footer_blocks{
    display: flex;
    justify-content: space-evenly;
}
.footer_last{
    text-align: center;
    padding-top: 10vh;
}
.footer_1{
    padding-top: 5vh;
}
.footer_2, .footer_3{
    padding-top: 3vh;
}
.footer > div{
    color: #c7c7c7;
}
