.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  display: flex;
  justify-content: space-evenly;
  height: 7vh;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 54, 108, 0.6);

}

.qwqw{
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
}
Link{
  color: #dadada;
  font-size: 25px;
}

.header_1, .header_2{
  width: 100%;
  height: 7vh;
  background-color: rgba(112, 19, 122, 0.93);
}
.header_1{
  border-bottom: 1px solid #a9a9a9;
  padding-left: 80vw;
  padding-top: 2vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  color: #dadada;
}
.header_2{
  font-family: "Arial Black", serif;
  color: #dadada;
  font-size: small;
  padding-left: 10%;
  padding-top: 1vh;
  box-sizing: border-box;
}


