.main{
    display: flex;
    justify-content: space-evenly;
    height: 7vh;
    width: 100%;
    align-items: center;
    background-color: rgba(14, 135, 187, 0.49);

}
.qwqw{
    color: #ffffff;
    font-size: 26px;
    text-decoration: none;
}
.main > div > a.qwqw:hover{
    color: #8d0000;
    cursor: pointer;
}

.main > div > a.qwqw.active{
    /*color: #8d0000;*/
    color: #8d0000;
}
.banner{
    background-size: 100%, 100vh;
    background-repeat: no-repeat;
}
